name: test_code
description: "A new Flutter project."

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter

  # Localization
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2

  # State management (language switch)
  provider: ^6.1.2

  # Storage (remember selected language)
  shared_preferences: ^2.2.3

  cupertino_icons: ^1.0.8
  translator: ^1.0.4+1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/fonts/
  fonts:
    - family: Khmer
      fonts:
        - asset: assets/fonts/khmer.ttf
